@import './palette'
@import '~assets/font/oswald/stylesheet'
@import '~assets/font/nocturne-serif/stylesheet'

*
  box-sizing border-box
  margin 0
  padding 0
  transition .3s all, .15s opacity
  user-select none

::-webkit-scrollbar
  display none
  width 0

::-webkit-scrollbar-track
  display none

::-webkit-scrollbar-thumb
  display none

body
  color $default

.adaptive
  margin 0 76px

.full
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.flex-center
  align-items center
  display flex
  justify-content center