@import './palette'

*
  box-sizing border-box
  margin 0
  padding 0
  transition .15s all
  user-select none

body
  color $default

.adaptive
  margin 0 auto
  width 85.5vw

.full
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.flex-center
  align-items center
  display flex
  justify-content center